<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Tristan</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistTristan</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>1</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tea</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistTea</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>1</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Joey 1st</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistJoey1</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Weevil</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistWeevil</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mai</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistMai</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mako</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistMako</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mokuba</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistMokuba</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ghost</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistGhost</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rex</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistRex</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bakura 1st</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistBakura</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Panik</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistPanik</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bonz</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistBonz</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Para&amp;Dox</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistParaAndDox</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>2</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Seto 1st</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistSeto1</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>4</integer>
		<key>BorderType</key>
		<string>Purple</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bandit Keith</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistKeith</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Joey 2nd</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistJoey1</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pegasus</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistPegasus</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>4</integer>
		<key>BorderType</key>
		<string>Purple</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rebecca</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistRebecca</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Orange</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Yami Yugi</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistYugi</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>Orange</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Serenity</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistSerenity</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Duke Devlin</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistDuke</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Seeker</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistSeeker</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Espa Roba</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistEspa</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Arkana</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistArkana</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Strings</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistStrings</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>4</integer>
		<key>BorderType</key>
		<string>Red</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lumis&amp;Umbra</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistLumisAndUmbra</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>3</integer>
		<key>BorderType</key>
		<string>Green</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bakura 2nd</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistBakura</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>4</integer>
		<key>BorderType</key>
		<string>Purple</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Noa</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistNoa</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>Orange</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Odion</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistOdion</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>4</integer>
		<key>BorderType</key>
		<string>Purple</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ishizu</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistIshizu</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>4</integer>
		<key>BorderType</key>
		<string>Purple</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Joey 3rd</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistJoey2</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>4</integer>
		<key>BorderType</key>
		<string>Purple</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Seto 2nd</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistSeto2</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>Blue</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Marik</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistMarik</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>Yellow</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dartz</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistDartz</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>Orange</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Leon</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistLeon</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>Orange</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bakura 3rd</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistKingBakura</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>Purple</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Zorc</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistZorc</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>Purple</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Atem</string>
		<key>PrizeMinPoints</key>
		<string>0</string>
		<key>PrizeMaxPoints</key>
		<string>1000</string>
		<key>PrizeExtraCards</key>
		<array/>
		<key>Picture</key>
		<string>duelistAtem</string>
		<key>Deck</key>
		<array/>
		<key>DefaultDifficult</key>
		<integer>5</integer>
		<key>BorderType</key>
		<string>White</string>
	</dict>
</array>
</plist>
